@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<div class="pt-4">

</div>
<div class="pt-4">

</div>
<div class="row">
    <div class="pt-4">

    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-6 bg-dark ">
        <section>
            <form class="text-white bg-dark" id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group ">
                    <label class="text-white" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="text-white" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <labelclass="text-white" asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </labelclass="text-white">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning">Log in</button>
                </div>
                <div class="form-group text-white">
                    <p class="text-white">
                        <a class="text-white" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p class="text-white">
                        <a class="text-white" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p class="text-white">
                        <a class="text-white" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
